<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Neuen Nutzer hinzufügen</h1>
        <form action="/newUser" method="post">
            Username: <input type="text" name="username" placeholder="coldworld1312" required ><br>
            passwort: <input type="password" name="userpassword"><br>
            passwort wiederhohlen: <input type="password" name="repeatedPassword" ><br>
            <button type="submit">add user</button>
    </body>
</html>