<!DOCTYPE html>
<html>
    <h1>auswertung</h1>
    <%for(let i = 0; i < lösungen.length; i++){
        if(antworten[i] == lösungen[i]){
            %>
            <p>richtig</p>
            <%
        }
        else{
            %>
            <p>falsch</p> 
        <%
        }}%>
        

</html>

