<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <form action="/login" method="post">
            <button type="submit">login</button>
        </form>
        <form action="/addUser" method="post">
            <button type="submit">new user</button>
        </form>
    </body>
</html>