<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        
        <title>MS MATHE Aufgabenliste</title>
    </head>

    <body>
        <nav>
            <img src="logo_aprg.png" id="logo" class="logo" alt="Logo">
        </nav>
        <div class="main">
        <h2>Bitte melden Sie sich an:</h2>

        <form action="/login" method="post">
            <button type="submit" id="main-buttons">Anmelden</button>
        </form>
        <form action="/addUser" method="post">
            <button type="submit"id="main-buttons">Neuer Benutzer</button>
            
        </form>
        </div>
    </body>
</html>