<!DOCTYPE html>
<html>
    <head>
        <title>Login Fehlgeschlagen</title>
    </head>
    <body>
        <h1>Login Fehlgeschlagen</h1>
        <form action="/home" method="post">
            <button type="submit">Home</button>
        </form>
        <form action="/login" method="post">
            <button type="submit">Login</button>
        </form>
    </body>
</html>