<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="/logintry" method="post">
            Name: <input type="text" name="userName"><br>
            Passwort: <input type="password" name="userPassword"><br>
            <button type="submit">log in</button>
        </form>
    </body>
</html>