<!DOCTYPE html>
<html>
    <head>
        <title>Anmelden fehlgeschlagen</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav>
            <img src="logo_aprg.png" id="logo" class="logo" alt="Logo">
        </nav>
        <div class="main">
        <h2>Anmelden fehlgeschlagen: Benutzername oder Passwort sind nicht korrekt.</h2>
        <form action="/home" method="post">
            <button type="submit" id="main-buttons">Zurück</button>
        </form>
        <form action="/login" method="post">
            <button type="submit" id="main-buttons">Anmelden</button>
        </form>
        </div>
    </body>
</html>