<!DOCTYPE html>
<html>
    <head>
        <title>Please Select</title>
    </head>
    <body>
        <h1>Bitte Wählen sie</h1>
        <form action="/learn" method="post">
            Anzahl der Aufgaben: <input type="number"><br>
            Kapitel: <br>
            <input type="checkbox" id="1" name="kapitel" value=1>
            <label for="1">1</label>
            <input type="checkbox" id="2" name="kapitel" value=2>
            <label for="2">2</label>
            <input type="checkbox" id="3" name="kapitel" value=3>
            <label for="3">3</label>
            <input type="checkbox" id="4" name="kapitel" value=4>
            <label for="4">4</label><br>

        
            Art: <input type="checkbox" id="python" name="aufgabenart" value="python">
            <label for="python">python</label>
            <input type="checkbox" id="kopfrechnen" name="aufgabenart" value="kopfrechnen">kopfrechnen
            <label for="kopfrechnen">kopfrechnen</label>

            <button type="submit">Test starten</button>
        </form>
        
        
        <form action="/logOut" method="post">
            <button type="submit">Log out</button>
        </form>
    </body>
</html>