<!DOCTYPE html>
<html>
    <head>
        <title>Please Select</title>
    </head>
    <body>
        <h1>Bitte Wählen sie</h1>
        <form action="/learn" method="post">
            Anzahl der Aufgaben: <input type="number"><br>
            Kapitel: <br>
            <input type="checkbox" id="1" name="kapitel" value="1">
            <label for="1">1</label>
            <input type="checkbox" id="2" name="kapitel" value="2">
            <label for="2">2</label>
            <input type="checkbox" id="3" name="kapitel" value="3">
            <label for="3">3</label>
            <input type="checkbox" id="4" name="kapitel" value="4">
            <label for="4">4</label><br>

            <input type="checkbox" id="5" name="kapitel" value="5">
            <label for="5">5</label>
            <input type="checkbox" id="6" name="kapitel" value="6">
            <label for="6">6</label>
            <input type="checkbox" id="7" name="kapitel" value="7">
            <label for="7">7</label>
            <input type="checkbox" id="8" name="kapitel" value="8">
            <label for="8">8</label><br>

            <input type="checkbox" id="9" name="kapitel" value="9">
            <label for="9">9</label>
            <input type="checkbox" id="10" name="kapitel" value="10">
            <label for="10">10</label>
            <input type="checkbox" id="11" name="kapitel" value="11">
            <label for="11">11</label>
            <input type="checkbox" id="12" name="kapitel" value="12">
            <label for="12">12</label><br>

            <input type="checkbox" id="13" name="kapitel" value="13">
            <label for="13">13</label>
            <input type="checkbox" id="14" name="kapitel" value="14">
            <label for="14">14</label>
            <input type="checkbox" id="15" name="kapitel" value="15">
            <label for="15">15</label>
            <input type="checkbox" id="16" name="kapitel" value="16">
            <label for="16">16</label><br>

            <input type="checkbox" id="17" name="kapitel" value="17">
            <label for="17">17</label><br>
            
            Art: <input type="checkbox" id="python" name="python" value="true">python
            <input type="checkbox" id="kopfrechnen" name="kopfrechnen" value="true">kopfrechnen

        </form>
        
        
        <form action="/logOut" method="post">
            <button type="submit">Log out</button>
        </form>
    </body>
</html>