<!DOCTYPE html>
<html>
    <head>
        <title>session nicht gesetzt</title>
    </head>
    <body>
        <h1>Bitte melden sie sich erneut an</h1>
        <form action="/login" method="post">
            <button type="submit">login</button>
        </form>
    </body>
</html>