<!DOCTYPE html>
<html>
    <head>
        <title>Session nicht gesetzt</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav>
            <a href="/home">
                <img src="logo_aprg.png" id="logo" class="logo" alt="Logo">
              </a>
        </nav>
        <div class="main">
        <h1>Bitte melden Sie sich erneut an</h1>
        <form action="/login" method="post">
            <button type="submit" id="main-buttons">Anmelden</button>
        </form>
        </div>
    </body>
</html>