<!DOCTYPE html>
<html>
    <head>
        <title>User 5tatistik</title>
    </head>
    <body>
        <h1>Ihre persönliche 5tatistik</h1>
        

        <form action="/logOut" method="post">
            <button type="submit">Log out</button>
        </form>
    </body>
</html>