<!DOCTYPE html>
<html>
  <body>
    <p>Es gibt eine verborgene Nachricht für Sie. Klicken Sie, um es zu sehen.</p>
    <input id="meinInput">
    <button onclick="myFunction()">Klicken!</button>
    <p id="demo"></p>

    <script>
      function myFunction() {
        
        i = document.getElementById("meinInput").value
        if(i == "meinInput"){

        }
        document.getElementById("demo").innerHTML = i;
      }
    </script>
  </body>
</html>