<!DOCTYPE html>
<html>
    <head>
        <title>Fail</title>
    </head>
    <body>
        <h1>Anmeldung Fehlgeschlagen</h1>
        <p>die Passwörter stimmen nicht Überein</p>
        <form action="/home" method="post">
            <button type="submit">home</button>
        </form>
    </body>
</html>