<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <form action="/select" method="post">
            <button type="submit">Aufgaben</button>
        </form>
        
       
       
       
        <form action="/logOut" method="post">
            <button type="submit">Log out</button>
        </form>
    </body>
</html>