<!DOCTYPE html>
<html>
    <head>
        <title>Fail</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav>
            <img src="logo_aprg.png" id="logo" class="logo" alt="Logo">
        </nav>
        <div class="main">
        <h1>Registrierung fehlgeschlagen</h1>
        <p>Der Benutzername existiert bereits.</p>
        <form action="/home" method="post">
            <button type="submit" id="main-buttons">Zurück</button>
        </form>
        </div>
    </body>
</html>